#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    place-content: center;
    grid-template-areas: "header" "coloringBox" "buttons";
}

.parent-block {
    grid-area: coloringBox;
    margin: 1em auto;
    background-color: white;
    width: 30vw;
    height: 30vw;
    border: 5px solid black;
    border-radius: 10px;
}

#title {
    grid-area: header;
    justify-self: center;
}

#appButtons {
    grid-area: buttons;
    justify-self: center;
}

button {
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 2vw;
}

button:hover {
    background-color: lightblue;
}

